.back-button {
    background-color: #007bff;
    color: #fff;
    border: none; /* 去掉边框 */
    border: 1px solid #ccc;
    font-size: 16px; /* 字体大小 */
    border-radius: 8px; /* 更大的圆角 */
    cursor: pointer; /* 鼠标悬停时显示手型光标 */
    transition: background-color 0.3s, box-shadow 0.3s; /* 添加背景色和阴影变化过渡效果 */
    position: fixed;
    top: 16px; /* 距离顶部的距离 */
    right: 40px; /* 距离右侧的距离 */
    z-index: 800; /* 确保按钮在其他内容之上 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    font-family: Arial, sans-serif; /* 设置字体 */
    padding: 10px;
    outline: none;
    width: 4%;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }

  
  
  @media (max-width: 600px) {
    .back-button {
      top: 15px; /* 调整在手机屏幕上的顶部距离 */
      right: 10px; /* 调整在手机屏幕上的右侧距离 */
      padding: 8px 16px; /* 调整手机屏幕上的内边距 */
      font-size: 14px; /* 调整手机屏幕上的字体大小 */
    }
  }
  