.background-image {
    flex: 1; 
    background-image: url('../assets/b.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative;
  }
  
  .background-image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 130px 10px rgba(255, 255, 255, 0.7) inset;
  }

  .login-page {
    display: flex;
    height: 100vh;
    width: 200vh;
  }
  
  .login-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px; 
    text-align: center; 
    margin: 0px;
  }
  
  
  .auth-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .auth-buttons button {
    background-color: #f9fcff;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 0 5px;
    padding: 5px 40px;
    transition: background-color 1s, color 1s;
  }
  
  .auth-buttons button:hover {
    background-color: #3d3939;
    color: #f0f0f0;
  }
  
