.language-switcher {
    position: fixed;
    top: 18px; 
    right: 130px;
    z-index: 1000; 
    padding: 0px; 
    border-radius: 15px; 
  }
  
  select {
    border: none;
    background: none;
    font-size: 16px;
  }
  
  @media (max-width: 600px) {
    .language-switcher {
      top: 5px; 
      right: 75px;
      padding: 3px; 
    }
  
    select {
      font-size: 14px;
    }
  }
  